*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
div.nav{
    display: flex;
    align-items: center;
    justify-content:space-around;
    background:linear-gradient(#140707, #6b6c79);
    height: 100px;
    padding: 2%;
}

div.nav-content{
     margin: 10px;
     color: white;
     font-size: 20px;
}

div.home{
    color: #140707;
    background-color: white;
    width: 80px;
    height: 40px;
    text-align: center;
    padding: 6px;
}

div.main-1{
    background-image: url("https://e0.pxfuel.com/wallpapers/850/763/desktop-wallpaper-construction-site-construction-work.jpg");
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
}

div.main-2{
    display: flex;
    justify-content: space-around;
    height: auto;
    padding: 30px;
    /* background-color: aqua; */
}

div.img1{
    background-size: cover;
    background-image: url("https://static7.depositphotos.com/1010826/675/v/450/depositphotos_6751521-stock-illustration-tower-cranes.jpg");
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    margin: 5px;
}

div.img2{
    background-size: cover;
    background-image: url("https://wallpapers.com/images/featured/civil-engineering-pa6hvqgpaqfw6mgb.jpg");
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    margin: 5px;
}

div.img3{
    background-size: cover;
    background-image: url("https://c1.wallpaperflare.com/preview/734/797/226/construction-site-building-concrete.jpg");
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    margin: 5px;
}

div.footer{
    display: flex;
    justify-content: center;
    background-color: #140707;
    height: 600px;
    padding: 10px;
}
div.text{
    margin-top: 40px;
    font-size: larger;
    width: 40%;
    color: white;
    margin: 30px;
}

div.img{

    margin-top: 40px;
    background-image: url("https://media.istockphoto.com/id/1202296779/photo/black-and-white-photo-structure-of-steel-for-building-construction.jpg?s=1024x1024&w=is&k=20&c=zB6oytRiAmzlr-gQ1Qj0GTC7YOjo6fd5jeiW8Iuz78M=");
    background-size: contain;
    height: 400px;
    width:50%;
    background-repeat: no-repeat;

}
